body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 6rem;
  font-weight: 900;



}

h2 {
  font-size: 3.5rem;

}

h3 {
  font-size: 2.5rem;
  font-weight: 700;

}

h4 {
  font-size: 2rem;

}

p {
  font-size: 1rem;
}

#i {
  font-size: 3rem;
  color: white;
}



#i:hover {
  color: blue;
}

a {
  color: black;
}

/* home page css */

.home_box {
  padding: 5rem;
  margin: 5rem;
  gap: 3rem;
  display: flex;
  justify-items: center;
  align-items: center;
  /* flex-wrap:wrap ; */
}


.my_name {
  /* font-size: ; */
  font-family: 'Orbitron', sans-serif;
  background: #574AE2;
  background: linear-gradient(to right, #574AE2 10%, #FFD700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* .avtar {
  border-radius: 5rem;
} */
.resume_btn {
  background: #fff;
  border: none;
  padding: 1rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  width: 10rem;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);

}

.resume_span {
  display: inline-block;
  transform: skew(21deg);
}

.resume_btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.resume_btn:hover {
  color: #fff;
}

.resume_btn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

/* skill page css */

.skills {
  margin: 5rem;
}


.small_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  font-size: 1.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5rem;
  /* width: fit-content; */
}



button {
  /* background-color: white;
  color: black; */
  color: black;
  padding: 1rem;
}

.skill_box {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5rem;
}

.skill_box:hover {
  border: 3px solid red;
}

.skill_img {
  height: 5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 5rem;
}

.skill_name {
  font-size: 1.5rem;
  font-weight: bolder;
  font-stretch: condensed;
}











@media (max-width : 320px) {
  html {
    font-size: 35%;
  }

}



@media (min-width : 320px) and (max-width : 480px) {
  html {
    font-size: 43.75%;
  }

}

@media (min-width : 481px) and (max-width : 768px) {
  html {
    font-size: 53.125%;
  }

}

@media (min-width : 769px) and (max-width : 1023px) {
  html {
    font-size: 62.5%;
  }

}


@media (min-width : 1024px) and (max-width : 1200px) {
  html {
    font-size: 71.85%;
  }

}


@media (min-width : 1201px) {
  html {
    font-size: 77%;
  }

}